In [1]:
import pandas as pd
import os

In [77]:
directory = os.fsencode("posecsvs")

filenames = []
for file in os.listdir(directory):
     filename = os.fsdecode(file)
     if filename.endswith(".csv"):
         filenames.append(filename)

print(filenames)

['2022-07-04T11:12:30.982.csv']

In [79]:
datasets = []
for file in filenames:
    filestring = "./posecsvs/" + file
    datasets.append(pd.read_csv(filestring))

datasets[0].head()

,time,gro1,gro2,gro3,gro4,v1,v2,v3,k0x,k0y,...,k30z,k31x,k31y,k31z,k32x,k32y,k32z,k33x,k33y,k33z
0,"2022, 7, 4, 11, 12, 30, 982000",-0.00971,0.99776,-0.04258,0.05069,0.00000,0.00000,0.00000,-2.59662,0.79800,...,1.43709,-2.68741,0.03397,1.49462,-2.51162,1.74999,1.35192,-2.71056,1.74525,1.33185
1,"2022, 7, 4, 11, 12, 31, 82000",-0.06807,0.86230,0.02053,0.50137,2.69171,0.00057,-0.63807,-2.30340,0.77512,...,1.24546,-2.29125,-0.01264,1.24226,-2.35692,1.73046,1.36622,-2.45452,1.71110,1.19272
2,"2022, 7, 4, 11, 12, 31, 215000",-0.04008,0.79878,-0.00741,0.60024,2.34727,-0.00045,-0.49736,-2.09211,0.78781,...,1.27582,-2.12522,-0.00013,1.23702,-2.13893,1.74244,1.32042,-2.19417,1.72785,1.12875
3,"2022, 7, 4, 11, 12, 31, 315000",-0.02906,0.79991,-0.00999,0.59932,2.01120,-0.00093,-0.29265,-1.97743,0.79630,...,1.31759,-2.02485,0.00656,1.27493,-2.01673,1.75014,1.36454,-2.07272,1.73844,1.17290
4,"2022, 7, 4, 11, 12, 31, 398000",-0.02548,0.76337,-0.00422,0.64544,1.75821,-0.00082,-0.10898,-1.89362,0.81128,...,1.36105,-1.93454,0.02126,1.30918,-1.94009,1.76431,1.42543,-1.97319,1.75544,1.22839

In [80]:
filestrings = []
for data in datasets:
    times = data.loc[:,"time"]
    date = times[0].replace(" ", "").split(',')[0:3]
    year = date[0]
    month = date[1]
    if len(month) < 2:
        month = '0' + month
    day = date[2]
    if len(day) < 2:
        day = '0' + day
    filestring = './activitycsvs/activities-' + year + '-' + month + '-' + day + '.csv'
    filestrings.append(filestring)

print(filestrings)

['./activitycsvs/activities-2022-07-04.csv']

In [82]:
truths = []
for i, data in enumerate(datasets):
    labels = []
    try:
        timestamps = pd.read_csv(filestrings[i])
    except:
        continue
    times = data.loc[:,"time"]

    for j, frame in enumerate(data.iterrows()):
        time = times[j].replace(" ", "").split(',')[3:6]
        hour = time[0]
        if len(hour) < 2:
            hour = '0' + hour
        minute = time[1]
        if len(minute) < 2:
            minute = '0' + minute
        second = time[2]
        if len(second) < 2:
            second = '0' + second

        found = 0
        for timestamp in timestamps:
            if found == 0:
                ts = timestamp.split('T')[1].split('.')[0]
                ts_h = ts.split(':')[0]
                ts_m = ts.split(':')[1]
                ts_s = ts.split(':')[2]
                if hour == ts_h and minute == ts_m and ts_s + 20 > second > ts_s - 20:
                    found = 1
                    labels.append(1)

        if found == 0:
            labels.append(0)

    truths.append(labels)

print(truths)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]